@model EmployeeDetails.Models.Class1

@{
    Layout = null;
    ViewBag.Title = "EmployeeLoginpage";

}


@using (Html.BeginForm("EmployeeSuccesspage", "Employee", FormMethod.Post))
{
    <h2>Employee Loginpage</h2>
    <label>EmployeeName</label>
    @Html.TextBoxFor(emp => emp.Employee_Name)
    <br />
    <br/>

    <label>Email_Id &emsp;&emsp;&nbsp;</label>
    @Html.TextBoxFor(emp => emp.Email_Id)
    <br />

    <br />

    <label>Emp_Password</label>
    @Html.PasswordFor(emp => emp.Emp_password)
    <br />
    <button style="border-radius:24px;">login</button>



}


